#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.componentBox {
  border: 3px solid #333;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-color: #eda5a5;
}
span {
  font-style: italic;
}


.FancyBox {
  --mask:
    linear-gradient(#000 0 0) 50%/calc(100% - 37px) calc(100% - 37px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/2em 2em round;
  mask: var(--mask);
  -webkit-mask: var(--mask);
  padding: 2em;
  background: linear-gradient(
      135deg,
      #1f005c,
      #5b0060,
      #870160,
      #ac255e,
      #ca485c,
      #ffb56b
    )
    fixed;
  color: white;
}
.FancyBox-blue {
  background: linear-gradient(
      135deg,
      #140061,
      #50006e,
      #64018c,
      #6955ff,
      #4684ff,
      #1fa7ff
    )
    fixed;
}
.emoji-component {
  font-size: 2rem;
  background-color: #c0afc0;
  color: lightyellow;
  padding: 1rem;
  border-radius: 12px;
}

.changemood-button {
  font-size: 1.5rem;
  background-color: #c0afc0;
  color: lightyellow;
  padding: 1rem;
  border-radius: 12px;
  margin: 1rem;
}
.cat-reverse {
  margin: 1rem
}
.cat-alphabetise {
  margin: 1rem
}
.cat-panthera {
  margin: 1rem
}
.cat-reset {
  margin: 1rem
}
.cat-add {
  margin: 1rem
}

.calculator {
  background-color: #eecccc;
  margin: 1rem;
  padding: 1rem;
}
.calculator-button {
margin: 1rem;
background-color: #b399be;

}
.calculator-result {
border:1px solid rgb(222, 145, 158);
margin-left: 300px;
margin-right: 300px;
background-color: #b399be;
font-weight: bold;
}